    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          { "@type": "ListItem", "position": 1, "name": "Home", "item": "https://saggre.com/" },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "Writing",
            "item": "https://saggre.com/writing/"
          }
        ]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "CollectionPage",
        "name": "Writing",
        "url": "https://saggre.com/writing/",
        "isPartOf": {
          "@type": "WebSite",
          "name": "Sakri (Rafael) Koskimies",
          "url": "https://saggre.com/"
        }
      }
    </script>
